body{
  text-align: center;
  background: #543966;
  color: white;
  font-family: 'Pompiere', cursive;
}

h1{
  font-family: 'Cabin Sketch', cursive;
  font-size: 4rem;
}

.container{
  margin-top: 3rem;
  width: 40rem;
}

/*display is for SETTING the break and session lengths*/
.display{
  margin-top: 1rem;
  font-size: 2rem;
  text-align: center;
  width: 3rem;
  background: #543966;
  border: #543966;
  color: white;
}

/*buttons to add or subtract time */
.button{
  font-size: 3rem;
  background: #543966;
  border: #543966;
  color: white;
}

.button:hover{
  color: #e23fac;
}


/*pink box*/
.timer{
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: solid;
  border-color: #e23fac;
  border-radius: 25px;
  width: 35rem;
  margin-left:auto; 
  margin-right:auto;
}

#clock{
  font-family: 'Cabin Sketch', cursive;
  font-size: 4rem;
}

#tiempo{
  font-size: 2rem;
}

.btn{
  border-color: #e23fac;
  background-color: #e23fac;
}

.btn:hover{
  border-color: #543966;
  background-color: #e23fac;
}



progress[value]::-webkit-progress-bar {
  -webkit-appearance: progress-bar;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: #e23fac;
  border-radius: 3px;
  border: solid;
  border-color: #e23fac;
}

progress[value]::-webkit-progress-value{
  background-color: #543966;
}


progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
}





